.grid-container {
  margin: 5px;
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-mdc-table {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

table {
  width: 100%;
}

.table-container {
  height: 600px;
  overflow: auto;
}
