<div class="grid-container">
  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile colspan="6">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <form [formGroup]="formFilter">
          <mat-grid-list cols="12" rowHeight="85px">
            <mat-grid-tile colspan="2">
              <div class="component-inside-grid" style="width: 100%;padding-right: 5px;margin-right: 5px">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Purchase date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="filterDate">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="component-inside-grid">
                <button mat-icon-button color="primary" (click)="filterByDate()" style="margin-bottom: 20px">
                  <mat-icon>filter_alt</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="removeFilterByDate()" style="margin-bottom: 20px">
                  <mat-icon>filter_alt_off</mat-icon>
                </button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile colspan="2">
              <div class="component-inside-grid" style="width: 100%;padding-right: 5px;margin-right: 5px">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Order by</mat-label>
                <mat-select formControlName="orderSelect">
                  <mat-option value="0">Select</mat-option>
                  <mat-option value="purchase_date">Purchase Date</mat-option>
                  <mat-option value="quantity">Quantity</mat-option>
                  <mat-option value="price">Price</mat-option>
                  <mat-option value="total">Total</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="component-inside-grid">
                <button mat-icon-button color="primary"  style="margin-bottom: 20px" (click)="orderByParam('asc')">
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button mat-icon-button color="accent"  style="margin-bottom: 20px" (click)="orderByParam('desc')">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>

            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <a mat-fab color="primary" style="margin-bottom: 20px;" href="{{export_url}}">
                <mat-icon>file_download</mat-icon>
              </a>
            </mat-grid-tile>
          </mat-grid-list>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="6">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content class="table-container">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="purchase_date">
              <th mat-header-cell *matHeaderCellDef>Purchase Date</th>
              <td mat-cell *matCellDef="let element"> {{element.purchaseDate | date:'MM-d-y'}} </td>
            </ng-container>
            <ng-container matColumnDef="invoice">
              <th mat-header-cell *matHeaderCellDef>Invoice</th>
              <td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
            </ng-container>
            <ng-container matColumnDef="customer_root">
              <th mat-header-cell *matHeaderCellDef>Customer Root</th>
              <td mat-cell *matCellDef="let element"> {{element.customerRoot}} </td>
            </ng-container>
            <ng-container matColumnDef="customer_leaf">
              <th mat-header-cell *matHeaderCellDef>Customer Leaf</th>
              <td mat-cell *matCellDef="let element"> {{element.customerLeaf}} </td>
            </ng-container>
            <ng-container matColumnDef="product_description">
              <th mat-header-cell *matHeaderCellDef>Product Description</th>
              <td mat-cell *matCellDef="let element"> {{element.productDescription}} </td>
            </ng-container>
            <ng-container matColumnDef="pack_size">
              <th mat-header-cell *matHeaderCellDef>Pack Size</th>
              <td mat-cell *matCellDef="let element"> {{element.packSize}} </td>
            </ng-container>
            <ng-container matColumnDef="unit_type">
              <th mat-header-cell *matHeaderCellDef>Unit Type</th>
              <td mat-cell *matCellDef="let element"> {{element.unitType}} </td>
            </ng-container>
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Category</th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>
            <ng-container matColumnDef="distributor_root">
              <th mat-header-cell *matHeaderCellDef>Distributor Root</th>
              <td mat-cell *matCellDef="let element"> {{element.distributorRoot}} </td>
            </ng-container>
            <ng-container matColumnDef="distributor_leaf">
              <th mat-header-cell *matHeaderCellDef>Distributor Leaf</th>
              <td mat-cell *matCellDef="let element"> {{element.distributorLeaf}} </td>
            </ng-container>
            <ng-container matColumnDef="manufacturer">
              <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
              <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Quantity</th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>Total</th>
              <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
